.banner{
    width: 720px;
    height: 328px;
    background-image: url("../images/banner-bg.png");
    background-size:cover;
    margin:0 auto;
    padding: 0;
    position: relative;         /*        父级相对定位  子的绝对定位相对于父          */
    float: left;
}
.banner-introduction{
    position: absolute;  /*    相对于全局      */
    top: 112px;
    left: 240px;
    color: white;
}
.banner p{margin-bottom: 22px;}
.banner-nurse{
    position: absolute;
    top: 78px;
    left: 30px;
}
.banner-name{
    font-size: 36px;
    display: inline-block;
}
.banner-age{
    font-size: 28px;
    display: inline-block;
    margin: 0 40px 0;
}
.header-back img {             /*    麻蛋 这货没用           */
    display: inline;
    vertical-align: middle;
}
.banner-address{
    font-size: 24px;
    display: inline-block;
    margin-left: 26px;             /*       行之间间距没弄出来          */
}


.content{
    width: 720px;
    font-size: 36px;
    background: #ffffff;
    display:inline-block;
}
.content-skill{
    height: 100px;
    color: black;
    border-bottom: 1px solid #e1e5e7;
}
.content p{
   vertical-align: middle;    /*     这玩意竟然没用对    以后研究   下单行文本垂直居中            */
    height: 100px;
    line-height: 100px;
}
.content b{
    padding: 0 30px 0;
    margin: 0 0 0 30px;
    border-left: 4px solid #5fc0cd;
}
.content ul{
    height: 500px;
    border-bottom:1px solid #e1e5e7 ;
}
.content li{
    border-bottom: 1px solid #e1e5e7 ;
    height: 100px;
    line-height: 100px;
    margin-left: 30px;
}
.content span{
    margin:0 22px;
    padding-right: 22px;
    border-right: 1px solid #e1e5e7;
}
.content span.left{
    color: #999;
}
.content-intrd{
    float: left;
    border: none;
}
.content span.txt-red{
    color: red;
    border: none;
}
.content table{
    width: 415px;
    float: right;
    word-spacing: 1px;
    letter-spacing:-2px;      /*      字间距                    */
}
.content-txt-intrd{
    font-size: 28px;
    line-height: 40px;
}


