@charset "utf-8";
html{
    font-size: 62.5%;
}
body,div,a,p{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;


    font-size: 3.6em;
    margin: 0 auto;
}
a:link{text-decoration: none;}
.clearfix{
    zoom: 1;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
    overflow: hidden;
}
img{
    display: inline-block;
}
.container{
    width:89% ;
    margin: 0 auto;
}

/*       头部             */
.header{
    width: 100%;
    height: 7%;
    padding: 1% 0;
    text-align: center;
    background: #5fc0cd;
    color: white;
    position: fixed;
    top:0;
}
.header-icon{
    display: inline-block;
    position: absolute;
    left: 5%;
}
.header-page{
    font-size: 3.6rem;
}

/*    尾部     */
.footer{
    width: 100%;
    height: 7%;
    float: left;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
}
.footer-massage{
    width: 40%;
    margin: 0 3% 0 6%;
    float: left;
    color: #5fc0cd;
    background: white;
    font-size: 3.4rem;
    border: 1px solid #5fc0cd;
    border-radius:0.5rem;
}
.footer-phone{
    width: 40%;
    margin: 0 3% 0 6%;
    float: left;
    color: white;
    background: #5fc0cd;
    font-size: 3.4rem;
    border: 1px solid #5fc0cd;
    border-radius:0.5rem;
}